@charset "UTF-8";

/* home css */

.home_div{	
	width: 500px;
	height:500px;
	position:relative;
	top: 200px;
	margin: 0 auto;
}	
.home_img1{
	width: 100%;
	height:100%;
	z-index: 1;
	position:absolute;
}
.home_img2{
	width: 100%;
	height: 100%;
	z-index: 0;
	position:absolute;
}

/* header_ box*/
.header_box {
    width: 100%;
    height: 60px;
    position: relative;
    margin-bottom: 10px;
    margin-top:10px;
}

/* logo img*/
#index_logo_div {
    width: 200px;
    position: absolute;
    padding: 10px;
	left: 45%;
}
#index_logo_img{
	width: 100%;
}

/* navbar */
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ol, ul {
    margin-top: 5;
    margin-bottom: 10px;
}

.nav-tabs>li>a {
    margin-right: 0px; 
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: none;
}
.nav>li>a {
    margin: 0;
    position: relative;
    display: block;
    top:10px;
    padding: 10px 10px;
}
[role=button] {
    cursor: pointer;
}
a {
    color: #424242;
    text-decoration: none;
}
.nav-tabs>li>a:hover {
    border-color: none;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #656565;
}

a:focus, a:hover {
    color: #E6E6E6;
    text-decoration: underline;
}
a:active, a:hover {
    outline: 0;
}

li {
    text-align: -webkit-match-parent;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ul {
    list-style-type: disc;
}

.navbar-right {
    float: right!important;
    margin-right: 0px;
}

.nav-tabs {
    border-bottom: none;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: none;
    border-left: none;
}

.navText{
	margin: 0;
    position: relative;
    display: block;
    top:10px;
    padding: 10px 10px;
}

/*content img*/
.oriImg{width: 500px; height: auto}

.thumbImg{width: 200px; height: auto}

#container_box{
	margin: 60px;
}

#container_box table td { width:150px; }

.thumbImg{width: 100px; height: 70px;}

.select_img img{width: 500px; margin: 20px 0;}


/* notice 중요글 제목 사이즈 */
#title {
	font-size: 18px;
    color: red;
}



/* 댓글에 관련된 css */
.comments ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.comments ul li {
	border-top: 1px solid #888; /* li 의 윗쪽 경계선 */
}

.comments dt {
	margin-top: 5px;
}

.comments dd {
	margin-left: 26px;
}

.comments form textarea, .comments form button {
	float: left;
}

.comments li {
	clear: left;
}

.comments form textarea {
	width: 85%;
	height: 100px;
}

.comments form button {
	width: 15%;
	height: 100px;
}
/* 댓글에 댓글을 다는 폼과 수정폼을 일단 숨긴다. */
.comment form {
	display: none;
}

.comment {
	position: relative;
}

.comment .reply_icon {
	width: 8px;
	height: 8px;
	position: absolute;
	top: 10px;
	left: 30px;
}

.comments .user-img {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

<<<<<<< HEAD

/* 별점 css */
 #star_grade a{
    text-decoration: none;
    color: gray;
}
#star_grade a.on{
    color: red;
}
.star_rating a:first-child {margin-left:0;}
.star_rating a.on {color:#777;}

.star-rating {
      width: 75px;
   }
   
.star-rating, .star-rating span {
   display: inline-block;
   height: 14px;
   overflow: hidden;
   background:
      url(../images/star.png)
      no-repeat;
}

.star-rating span {
   background-position: left bottom;
   line-height: 0;
   vertical-align: top;
}

/* 베스트 & 최신 상품  */

#newItemBox{
  	width: 1000px;
    margin: auto;
    margin-top: 50px;
}
#bestItemBox{
	width: 1000px;
    margin: auto;
    margin-top: 50px;
}
#indexItemImg{
	width:250px;
	height: 300px;
}
/*------------------------강승현---------------------------*/
/* 버튼 css */
.intro{
  width:100%;
  height:30px;
}
.intro h1{
  font-family:'Oswald', sans-serif;
  letter-spacing:2px;
  font-weight:normal;
  font-size:14px;
  color:#222;
  text-align:center;
  margin-top:10px;
}
.intro a{
  color:#e74c3c;
  font-weight:bold;
  letter-spacing:0;
}
.intro img{
  width:20px;
  heght:20px;
  margin-left:5px;
  margin-right:5px;
  position:relative;
  top:5px;
}
. 

*{margin:0;padding:0;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
#container{
  width:715px;
  height:230px;
  margin:50px auto;
}
.button-7{
  width:140px;
  height:50px;
  border:2px solid #34495e;
  float:left;
  text-align:center;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  margin:0 0 40px 5px;
}
.button-7 a{
  font-family:arial;
  font-size:14px;
  color:#34495e;
  text-decoration:none;
  line-height:30px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}
.eff-7{
  width:140px;
  height:50px;
  border:0px solid #34495e;
  position:absolute;
  transition:all .3s ease;
  z-index:1;
  box-sizing:border-box;
}
.button-7:hover .eff-7{
  border:70px solid #34495e;
}
.button-7:hover a{
  color:#fff;
}

.button-7 button{
  font-family:arial;
  font-size:14px;
  color:#34495e;
  text-decoration:none;
  line-height:30px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}

.button-7:hover button{
  color:#fff;
}

/* 로그인 폼 css */

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

form {
  border: 0.5em solid #99e5ff;
  border-radius: .2em;
  max-width: 400px;
  margin: 3em auto;
  padding: 1em;
}

h1 {
  font-size: 2em;
  margin-top: 0;
}

label {
  display: block;
  margin-bottom: .5em;
  cursor: pointer;
}

input[type="text"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: .5em;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}
input[type="text"]:focus,
input[type="password"]:focus {
  -webkit-transform: scale(1.75);
          transform: scale(1.75);
  outline: 100em solid rgba(0, 0, 0, 0.75);
}

button {
  display: block;
  border: none;
  padding: 1em;
  width: 100%;
  font-weight: bold;
  color: white;
  background: deepskyblue;
  text-transform: uppercase;
  font-size: .6em;
  -webkit-transition: .15s ease-out;
  transition: .15s ease-out;
}
button:hover {
  background: #888;
}

p:last-of-type {
  margin-bottom: 0;
}

a {
  display: block;
  border: none;
  padding: 1em;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .6em;
  -webkit-transition: .15s ease-out;
  transition: .15s ease-out;
}
a:hover {
  background: #888;
}

/* 회원가입 */
@import url('https://fonts.googleapis.com/css?family=Dosis:200,400');

hr {
  border: 0;
  border-top: 3px solid white;
  border-bottom: 1px solid white;
  padding: 2px 0;
}

.formwrap{
  width:320px;
  height:480px;
  background: rgba(0,0,0,.7);
  margin:auto;
  margin-top:50px;
  padding:10px;
}

.formwrap h1{
 font-family: 'Dosis', sans;
  font-size: 22px;
  font-weight:200;
  color:white;
  text-transform:uppercase;
  margin:0;
}
.formwrap h2{
 font-family: 'Dosis', sans;
  font-size: 16px;
  font-weight:200;
  color:white;
  text-transform:uppercase;
}

.formwrap p{
 font-family: 'Dosis', sans;
  font-size: 13px;
  font-weight:200;
  color:white;
  text-transform:none;
}

::-webkit-input-placeholder {color: white; text-transform:uppercase;}
:-moz-placeholder { /* Firefox 18- */color: white; text-transform:uppercase; }
::-moz-placeholder {  /* Firefox 19+ */color: white; text-transform:uppercase; }
:-ms-input-placeholder {  color: white; text-transform:uppercase; }

input:focus {
  /*border-color: rgba(82, 168, 236, 0.8);*/
  border-color: rgba(252, 247, 238, 0.8);
  outline: 0;
  outline: thin dotted \9;
  color:white;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(252, 247, 238, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(252, 247, 238, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(252, 247, 238, 0.6);
}


.test2{
  border: 1px solid #444;
background:#232323;
 line-height: 1.2em;
  padding: 0.5em 1em;
  font-family: 'Dosis', sans;
  font-size: 13px;
  font-weight:200;
  color:white;
}
/*select*/
.dropdown {
  display: inline-block;
  position: relative;
  overflow: hidden;
  font-family: 'Dosis', sans;
  font-size: 13px;
  font-weight:200;
  background: transparent;
  border: 1px solid white;
  border-radius: 0px;
  width:100%;
  text-transform:uppercase;
}
.dropdown:before, .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 8px;
  right: 8px;
  width: 0;
  height: 0;
  border: 5px dashed;
  border-color: #9E988E transparent;
  pointer-events: none;
  text-transform:uppercase;
}
.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}
.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown-select {
  position: relative;
  font-family: 'Dosis', sans;
  width: 170%;
  margin: 0;
   line-height: 1.2em;
  font-size: 1em;
  text-transform:uppercase;
  padding: 0.5em 1em;
  color: #9E988E;
  /* Fallback for IE 8 */
  background: red;
  /* "transparent" doesn't work with Opera */
  background: rgba(0, 0, 0, 0) !important;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none; 
  
  

}
.dropdown-select:focus {
  z-index: 3;
  width: 100%; 
   border-color: rgba(252, 247, 238, 0.8);
  outline: 0;
  outline: thin dotted \9;
  color:#FCF7EE;

 
}
.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #232323;
  border-radius: 0px;
  cursor: pointer;
}

/* Fix for IE 8 putting the arrows behind the select element. */
.lt-ie9 .dropdown {
  z-index: 1;
}
.lt-ie9 .dropdown-select {
  z-index: -1;
}
.lt-ie9 .dropdown-select:focus {
  z-index: 3;
}

input[type=date], select{

  font-family: 'Dosis', sans;
  font-size: 13px;
  font-weight:200;
  line-height: 2.1em; 
  color:#FCF7EE !important;
  background: transparent;
  border: 1px solid white;
  border-radius: 0px; 
  width: calc(100% - 12px);
  text-transform:uppercase;
  padding-left:12px;
}
select{
  -webkit-appearance: none;
  border: none;
}

textarea{

  font-family: 'Dosis', sans;
  font-size: 13px;
  font-weight:200;
  line-height: 2.1em; 
  color:#FCF7EE !important;
  background: transparent;
  border: 1px solid white;
  border-radius: 0px; 
  width: calc(100% - 14px);
  text-transform:none;
  padding-left:12px;
}


input[type=text]{

  font-family: 'Dosis', sans;
  font-size: 13px;
  font-weight:200;
  line-height: 2.1em; 
  color:#FCF7EE !important;
  background: transparent;
  border: 1px solid white;
  border-radius: 0px; 
  width: calc(100% - 12px);
  text-transform:none;
  padding-left:12px;
}

input[type=email]{

  font-family: 'Dosis', sans;
  font-size: 13px;
  font-weight:200;
  line-height: 2.1em; 
  color:#FCF7EE !important;
  background: transparent;
  border: 1px solid white;
  border-radius: 0px; 
  width: calc(100% - 12px);
  text-transform:none;
  padding-left:12px;
}

input[type=password]{

  font-family: 'Dosis', sans;
  font-size: 13px;
  font-weight:200;
  line-height: 2.1em; 
  color:#FCF7EE !important;
  background: transparent;
  border: 1px solid white;
  border-radius: 0px; 
  width: calc(100% - 12px);
  text-transform:none;
  padding-left:12px;
}

.button_base {
    margin: 0;
    border: 0;
    font-size: 18px;
  top:20px;
    position: relative;
  margin:auto;

    width: 100px;
    height: 42px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;
}

.button_base:hover {
    cursor: pointer;
}

/* ### ### ### 01 */
.b01_simple_rollover {
    color: #000000;
    border: #000000 solid 1px;
    padding: 10px;
    background-color: #ffffff;
  font-family: 'Dosis', sans;
  font-size: 15px;
  font-weight:200;
  text-transform:uppercase;
}

.b01_simple_rollover:hover {
    color: #ffffff;
    background-color: transparent;
    border:1px solid white;  
}
/*----------------------------대경---------------------------*/
#star_grade a{
	color: green;
}
.btn {
	width: 50px;
	height: 30px;
	border: 2px solid #34495e;
	text-align: center;
	cursor: pointer;
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	margin: 0 0 0 20px;
}
.orderbtn {
	width: 100px;
	height: 50px;
	border: 2px solid #34495e;
	float: left;
	text-align: center;
	cursor: pointer;
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	margin: 0 0 40px 50px;
}

.orderbtn a {
	font-family: arial;
	font-size: 16px;
	color: #34495e;
	text-decoration: none;
	line-height: 50px;
	transition: all .5s ease;
	z-index: 2;
	position: relative;
}

.shopbtn {
	width: 100px;
	height: 50px;
	border: 2px solid #34495e;
	float: left;
	text-align: center;
	cursor: pointer;
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	margin: 0 0 40px 50px;
}

.shopbtn a {
	font-family: arial;
	font-size: 16px;
	color: #34495e;
	text-decoration: none;
	line-height: 50px;
	transition: all .5s ease;
	z-index: 2;
	position: relative;
}

.eff {
	width: 100px;
	height: 50px;
	border: 0px solid #34495e;
	position: absolute;
	transition: all .5s ease;
	z-index: 1;
	box-sizing: border-box;
}

.orderbtn:hover .eff {
	border: 70px solid #34495e;
}

.orderbtn:hover a {
	color: #fff;
}

.shopbtn:hover .eff {
	border: 70px solid #34495e;
}

.shopbtn:hover a {
	color: #fff;
}
.table_center {
display : table;
margin-left : auto;
margin-right : auto;
}
.order{
margin-bottom: 30px;
margin-left: 30px;
}
.cart{
margin-bottom: 30px;
margin-left: 30px;
}
.wishlist{
margin-bottom: 30px;
margin-left: 30px;
}
.myInfo{
margin-bottom: 30px;
margin-left: 30px;
}
.myBoard{
margin-bottom: 30px;
margin-left: 30px;
}
.mypage_btn_wrap {}
.mypage_btn_wrap:after {content:"";display:block;clear:both;}
.mypage_btn {}
.mypage_btn .item {width:270px;float:left;margin-left:30px;margin-bottom:30px;padding-bottom:20px;border:1px solid #a0a0a0;background:#ffffff;text-align:center;}
.mypage_btn .item:nth-child(4n+1){margin-left:0;clear:left;}
.mypage_btn .item:hover {background:#f9d448;}
.mypage_btn .item .mytitle {color:#101010;font-size:20px;margin-bottom:9x;margin-top:28px;font-weight:bold;}
.mypage_btn .item .mytitle_kr {color:#101010;font-size:12px;margin-bottom:16px;font-weight:bold;}
.mypage_btn .item .desc {color:#737373;font-size:12px;min-height:34px;padding:0 17px;}
/*----------------------------윤주-----------------------------*/

