@charset "UTF-8";

/* home css */

.home_div{	
	width: 500px;
	height:500px;
	position:relative;
	top: 200px;
	margin: 0 auto;
}	
.home_img1{
	width: 100%;
	height:100%;
	z-index: 1;
	position:absolute;
}
.home_img2{
	width: 100%;
	height: 100%;
	z-index: 0;
	position:absolute;
}

/* header_ box*/
.header_box {
    width: 100%;
    height: 60px;
    position: relative;
    margin-bottom: 10px;
    margin-top:10px;
}

/* logo img*/
#index_logo_div {
    width: 200px;
    position: absolute;
    padding: 10px;
	left: 45%;
}
#index_logo_img{
	width: 100%;
}

/* navbar */
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ol, ul {
    margin-top: 5;
    margin-bottom: 10px;
}

.nav-tabs>li>a {
    margin-right: 0px; 
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: none;
}
.nav>li>a {
    margin: 0;
    position: relative;
    display: block;
    top:10px;
    padding: 10px 10px;
}
[role=button] {
    cursor: pointer;
}
a {
    color: #424242;
    text-decoration: none;
}
.nav-tabs>li>a:hover {
    border-color: none;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #656565;
}

a:focus, a:hover {
    color: #E6E6E6;
    text-decoration: underline;
}
a:active, a:hover {
    outline: 0;
}

li {
    text-align: -webkit-match-parent;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ul {
    list-style-type: disc;
}

.navbar-right {
    float: right!important;
    margin-right: 0px;
}

.nav-tabs {
    border-bottom: none;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: none;
    border-left: none;
}

.navText{
	margin: 0;
    position: relative;
    display: block;
    top:10px;
    padding: 10px 10px;
}

/*content img*/
.oriImg{width: 500px; height: auto}

.thumbImg{width: 200px; height: auto}

#container_box{
	margin: 60px;
}

#container_box table td { width:150px; }

.thumbImg{width: 100px; height: 70px;}

.select_img img{width: 500px; margin: 20px 0;}


/* notice 중요글 제목 사이즈 */
#title {
	font-size: 18px;
    color: red;
}



/* 댓글에 관련된 css */
.comments ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.comments ul li {
	border-top: 1px solid #888; /* li 의 윗쪽 경계선 */
}

.comments dt {
	margin-top: 5px;
}

.comments dd {
	margin-left: 26px;
}

.comments form textarea, .comments form button {
	float: left;
}

.comments li {
	clear: left;
}

.comments form textarea {
	width: 85%;
	height: 100px;
}

.comments form button {
	width: 15%;
	height: 100px;
}
/* 댓글에 댓글을 다는 폼과 수정폼을 일단 숨긴다. */
.comment form {
	display: none;
}

.comment {
	position: relative;
}

.comment .reply_icon {
	width: 8px;
	height: 8px;
	position: absolute;
	top: 10px;
	left: 30px;
}

.comments .user-img {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}


/* 별점 css */
 #star_grade a{
    text-decoration: none;
    color: gray;
}
#star_grade a.on{
    color: red;
}
.star_rating a:first-child {margin-left:0;}
.star_rating a.on {color:#777;}

.star-rating {
      width: 75px;
   }
   
.star-rating, .star-rating span {
   display: inline-block;
   height: 14px;
   overflow: hidden;
   background:
      url(../images/star.png)
      no-repeat;
}

.star-rating span {
   background-position: left bottom;
   line-height: 0;
   vertical-align: top;
}

/*베스트 & 최신 상품*/

#newItemBox{
  	width: 1000px;
    margin: auto;
    margin-top: 50px;
}
#bestItemBox{
	width: 1000px;
    margin: auto;
    margin-top: 50px;
}
#indexItemImg{
	width:250px;
	height: 300px;
}
